.loader-container {
  width: 100%;
  background-color: transparent;
  border-width: 5px;
  border-color: cyan;
  overflow: hidden;
  margin: 20px 0;
}

.loader-bar {
  height: 25px;
  background-color: cyan;
  text-align: center;
  line-height: 25px;
  transition: width 0.3s ease;
}
